<script>
      const urlParams = new URLSearchParams(window.location.search);
    const key = urlParams.get('bank');
    const qr_crypt = urlParams.get('hash');
    bank(key);
   function bank(key) {
    switch (key) {
        case "pb":
            window.open(`https://privat24.ua/rd/send_qr/https://bank.gov.ua/qr/${qr_crypt}`)
            break;
        case "mono":
            window.open(`mono://bank.gov.ua/qr/${qr_crypt}`)
            break;
        case "pumb":
            window.open(`https://mobile-app.pumb.ua/https://bank.gov.ua/qr/${qr_crypt}`)
            break;
        case "ukrsib":
            window.open(`https://my.ukrsibbank.com/rd/https://bank.gov.ua/qr/${qr_crypt}`) // або qr
            break;
        case "sensebank":  
            window.open(`https://sensebank.ua/rd/https://bank.gov.ua/qr/${qr_crypt}`) // або qr
            break;
        case "abank24":
            window.open(`https://abank24.page.link/qr/${qr_crypt}`)
            break; // або rd
        case "izibank":
            window.open(`https://izibank.com.ua/rd/https://bank.gov.ua/qr/${qr_crypt}`) // або /qr 
            break; // або rd
        case "creditdnepr":
            // window.open(`https://creditdnepr.com.ua/rd/https://bank.gov.ua/qr/${qr_crypt}`) // або /qr
            break; // або rd
        case "credit-agricole":
            // window.open(`https://credit-agricole.ua/rd/https://bank.gov.ua/qr/${qr_crypt}`) // або /qr
            break; // або rd
        case "ukrgasbank":
            // window.open(`https://ukrgasbank.com/rd/https://bank.gov.ua/qr/${qr_crypt}`) // або /qr
            break; // або rd
        case  "radabank":
            // window.open(`https://radabank.com.ua/rd/https://bank.gov.ua/qr/${qr_crypt}`) // або /qr
            break; // або rd
        case "globusbank":
            // window.open(`https://globusbank.com.ua/rd/https://bank.gov.ua/qr/${qr_crypt}`) // або /qr
            break; // або rd
            
    
        default:
            break;
    }
}
</script>